@font-face {
	font-family: 'Ubuntu';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Ubuntu';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Ubuntu';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
}

:root {
	/* Основные цвета */
	--bg: #007bff;
	--bg-alt: #f5f5f5;

	/* Текст */
	--text-primary: #222222;
	--text-secondary: #ffffff;

	/* Акцент */
	--accent: #007bff;
	--accent-hover: #0056b3;

	/* Бордеры */
	--border: #dddddd;
	--border-hover: #aaaaaa;

	/* Ошибки/успех */
	--error: #ff4d4d;
	--success: #28a745;
}

html {
	position: relative;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-style: normal;
	min-width: 320px;
	min-height: 100vh;
	font-size: 18px;
	color: var(--text-primary);
	background-color: #fff;
	line-height: 1.2;
}

img,
svg {
	max-width: 100%;
	max-height: auto;
	height: auto;
	object-fit: cover;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
	color: inherit;
}

input {
	cursor: pointer;
}

.container {
	--width: 1180px;
	--padding: 30px;
	max-width: calc(var(--width) + var(--padding) * 2);
	margin: 0 auto;
	padding: 0 var(--padding);
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--bg);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #094686;
}

::-webkit-scrollbar-track {
	background: #f5f5f5;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--bg) var(--bg-alt);
}

/* hover-эффекты работают только на ПК/ноуте */
@media (hover: hover) and (pointer: fine) {
	/* header btn hover */
	.nav__item:hover .nav__link::after {
		left: 0;
	}
	.header__btn:hover {
		background-color: #007bff;
		color: #fff;
		transition-duration: 0.3s;
	}

	.btn:hover {
		transform: scale(1.05);
		background: red;
	}

	/* modal hover */

	.link:hover {
		text-decoration: none;
	}

	.form__modal button[type='submit']:hover {
		filter: brightness(1.03);
	}

	.form__modal button[type='submit']:active {
		transform: translateY(1px);
	}

	.close-btn:hover {
		transform: scale(1.08);
		background: red;
		color: #fff;
	}

	.btn:hover {
		background: #0056b3;
	}

	/* hero  */

	.hero__link:hover {
		background-color: transparent;
	}

	/* project */

	.project__link:hover {
		text-decoration: underline;
	}

	.project__item:hover .project__item-img {
		scale: 1.03;
	}

	/* contact-us */
	.contact-us__form button:hover {
		color: var(--accent);
		background-color: var(--bg-alt);
	}

	.contact-us__phone:hover,
	.contact-us__email:hover,
	.contact-us__map:hover {
		text-decoration: underline;
	}

	.contact-us__social:hover {
		background-color: #fff;
		color: var(--bg);
	}
}
